In [2]:
import numpy as np       
import pandas as pd

In [3]:
ABtesting=pd.read_csv(r'C:\Users\Desktop\data\ABtesting.csv')
ABtesting.head()

   A  B
0  Y  Y
1  Y  Y
2  Y  Y
3  Y  Y
4  Y  Y

In [3]:
table1=ABtesting.melt(var_name='grp', value_name='ny') #A|B
table1.head()

  grp ny
0   A  Y
1   A  Y
2   A  Y
3   A  Y
4   A  Y

In [4]:
table2=pd.crosstab(table1['grp'], table1['ny'])
table2

ny     N    Y
grp
A    900  100
B    850  150

In [5]:
from scipy import stats

In [6]:
chi2, pvalue, dof, expected = stats.chi2_contingency(table2)

In [7]:
pvalue

0.0009229943590897624