In [2]:
import numpy as np       
import pandas as pd

In [22]:
poll=pd.read_csv('poll.csv', index_col=0)
poll.head()

   Y_Jan  Y_Aug
1      1      1
2      1      1
3      1      1
4      1      1
5      1      1

# 1. 2x2 분할표

In [91]:
change = {'Y_Jan' : {1: "선호", 0: "비선호"},
         'Y_Aug' : {1: "선호", 0: "비선호"}}

poll2=poll.replace(change)
poll2.head()

  Y_Jan Y_Aug
1    선호    선호
2    선호    선호
3    선호    선호
4    선호    선호
5    선호    선호

In [80]:
table=pd.crosstab(poll2['Y_Jan'], poll2['Y_Aug'], 
                  rownames=['1월'], colnames=['8월'])
table

8월   비선호  선호
1월
비선호   55  25
선호    45  75

**한글 파일에 있는 형태로 정리하기 위한(순서변경) 추가적인 단계로,** \
**아래 과정을 거치지 않고 table을 그대로 mcnemar()에 대입해도 결과는 같습니다.**

In [78]:
table2=table.reindex(['선호', '비선호'], axis='index')
table2=table2.reindex(['선호', '비선호'], axis='columns')
table2

8월   선호  비선호
1월
선호   75   45
비선호  25   55

# 2. McNemar test

In [82]:
from statsmodels.stats.contingency_tables import mcnemar

In [83]:
result = mcnemar(table2)
print(result)

pvalue      0.0224628954925093
statistic   25.0

In [88]:
result.pvalue

0.0224628954925093