In [1]:
# Created on Jan 2021
# @author: 임일

# Load the u.user file into a dataframe
import pandas as pd
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names=u_cols, encoding='latin-1')
users = users.set_index('user_id')
print(users.head())
print(users.shape)

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213
(943, 4)

In [2]:
# Load the u.item file into a dataframe
i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 
          'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 
          'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('u.item', sep='|', names=i_cols, encoding='latin-1')
movies = movies.set_index('movie_id')
print(movies.head())
print(movies.shape)

                      title release date  video release date  \
movie_id
1          Toy Story (1995)  01-Jan-1995                 NaN
2          GoldenEye (1995)  01-Jan-1995                 NaN
3         Four Rooms (1995)  01-Jan-1995                 NaN
4         Get Shorty (1995)  01-Jan-1995                 NaN
5            Copycat (1995)  01-Jan-1995                 NaN

                                                   IMDB URL  unknown  Action  \
movie_id
1         http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
2         http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
3         http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
4         http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
5         http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

          Adventure  Animation  Children's  Comedy  ...  Fantasy  Film-Noir  \
movie_id                                            ...
1                 0          1           1       1  ...        0          0
2                 1          0           0       0  ...        0          0
3                 0          0           0       0  ...        0          0
4                 0          0           0       1  ...        0          0
5                 0          0           0       0  ...        0          0

          Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
movie_id
1              0        0        0        0       0         0    0        0
2              0        0        0        0       0         1    0        0
3              0        0        0        0       0         1    0        0
4              0        0        0        0       0         0    0        0
5              0        0        0        0       0         1    0        0

[5 rows x 23 columns]
(1682, 23)

In [3]:
# Load the u.data file into a dataframe
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, encoding='latin-1') 
ratings = ratings.set_index('user_id')
print(ratings.head())
print(ratings.shape)

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596
(100000, 3)